In [1]:
import pandas as pd

# The following imports NEED to be in the exact order
from SimCAD.engine import ExecutionMode, ExecutionContext, Executor
from validation import config1, config2
from SimCAD import configs

exec_mode = ExecutionMode()

In [2]:
print("Simulation Execution 1")
print()
first_config = [configs[0]] # from config1
single_proc_ctx = ExecutionContext(context=exec_mode.single_proc)
run1 = Executor(exec_context=single_proc_ctx, configs=first_config)
run1_raw_result, raw_tensor_field = run1.main()
result = pd.DataFrame(run1_raw_result)
tensor_field = pd.DataFrame(raw_tensor_field)

Simulation Execution 1

single_proc: [<SimCAD.configuration.Configuration object at 0x10a305278>]

In [3]:
print("Tensor Field:")
tensor_field

Tensor Field:

,b1,b2,s1,s2,es1,es2,es3,m
0,<function b1m1 at 0x109f25d90>,<function b2m1 at 0x10a2fda60>,<function s1m1 at 0x10a2fdd08>,<function s2m1 at 0x10a2fdd90>,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,1
1,<function b1m2 at 0x10a2fdae8>,<function b2m2 at 0x10a2fdb70>,<function s1m2 at 0x10a2fde18>,<function s2m2 at 0x10a2fdea0>,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,2
2,<function b1m3 at 0x10a2fdbf8>,<function b2m3 at 0x10a2fdc80>,<function s1m3 at 0x10a2fdf28>,<function s2m3 at 0x10a308048>,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,3

In [4]:
print("Output:")
result

Output:

,mech_step,run,s1,s2,s3,s4,time_step,timestamp
0,0,1,0,0,1,1,0,2018-10-01 15:16:24
1,1,1,1,4,5,10,1,2018-10-01 15:16:25
2,2,1,ab,6,5,10,1,2018-10-01 15:16:25
3,3,1,"[c, d]","[30, 300]",5,10,1,2018-10-01 15:16:25
4,1,1,1,4,5,10.43650985051199020503531756,2,2018-10-01 15:16:26
5,2,1,ab,6,5,10.43650985051199020503531756,2,2018-10-01 15:16:26
6,3,1,"[c, d]","[30, 300]",5,10.43650985051199020503531756,2,2018-10-01 15:16:26
7,1,1,1,4,5,10.53721952812028761860248013,3,2018-10-01 15:16:27
8,2,1,ab,6,5,10.53721952812028761860248013,3,2018-10-01 15:16:27
9,3,1,"[c, d]","[30, 300]",5,10.53721952812028761860248013,3,2018-10-01 15:16:27
10,1,1,1,4,5,8.573616357680089499783223212,4,2018-10-01 15:16:28
11,2,1,ab,6,5,8.573616357680089499783223212,4,2018-10-01 15:16:28
12,3,1,"[c, d]","[30, 300]",5,8.573616357680089499783223212,4,2018-10-01 15:16:28
13,1,1,1,4,5,8.335794354629596453007093216,5,2018-10-01 15:16:29
14,2,1,ab,6,5,8.335794354629596453007093216,5,2018-10-01 15:16:29
15,3,1,"[c, d]","[30, 300]",5,8.335794354629596453007093216,5,2018-10-01 15:16:29
16,0,2,0,0,1,1,0,2018-10-01 15:16:24
17,1,2,1,4,5,10,1,2018-10-01 15:16:25
18,2,2,ab,6,5,10,1,2018-10-01 15:16:25
19,3,2,"[c, d]","[30, 300]",5,10,1,2018-10-01 15:16:25
20,1,2,1,4,5,9.917258518517539922498826854,2,2018-10-01 15:16:26
21,2,2,ab,6,5,9.917258518517539922498826854,2,2018-10-01 15:16:26
22,3,2,"[c, d]","[30, 300]",5,9.917258518517539922498826854,2,2018-10-01 15:16:26
23,1,2,1,4,5,9.295445738182783098967212172,3,2018-10-01 15:16:27
24,2,2,ab,6,5,9.295445738182783098967212172,3,2018-10-01 15:16:27
25,3,2,"[c, d]","[30, 300]",5,9.295445738182783098967212172,3,2018-10-01 15:16:27
26,1,2,1,4,5,9.254714796976556134819588883,4,2018-10-01 15:16:28
27,2,2,ab,6,5,9.254714796976556134819588883,4,2018-10-01 15:16:28
28,3,2,"[c, d]","[30, 300]",5,9.254714796976556134819588883,4,2018-10-01 15:16:28
29,1,2,1,4,5,8.813063120281346104256259818,5,2018-10-01 15:16:29
30,2,2,ab,6,5,8.813063120281346104256259818,5,2018-10-01 15:16:29
31,3,2,"[c, d]","[30, 300]",5,8.813063120281346104256259818,5,2018-10-01 15:16:29

In [5]:
print("Simulation Execution 2: Pairwise Execution")
print()
multi_proc_ctx = ExecutionContext(context=exec_mode.multi_proc)
run2 = Executor(exec_context=multi_proc_ctx, configs=configs)
results = []
tensor_fields = []
for raw_result, raw_tensor_field in run2.main():
    results.append(pd.DataFrame(raw_result))
    tensor_fields.append(pd.DataFrame(raw_tensor_field))

Simulation Execution 2: Pairwise Execution

multi_proc: [<SimCAD.configuration.Configuration object at 0x10a305278>, <SimCAD.configuration.Configuration object at 0x10a305630>]

In [6]:

print("Tensor Field A:")
tensor_fields[0]

Tensor Field A:

,b1,b2,s1,s2,es1,es2,es3,m
0,<function b1m1 at 0x109f25d90>,<function b2m1 at 0x10a2fda60>,<function s1m1 at 0x10a2fdd08>,<function s2m1 at 0x10a2fdd90>,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,1
1,<function b1m2 at 0x10a2fdae8>,<function b2m2 at 0x10a2fdb70>,<function s1m2 at 0x10a2fde18>,<function s2m2 at 0x10a2fdea0>,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,2
2,<function b1m3 at 0x10a2fdbf8>,<function b2m3 at 0x10a2fdc80>,<function s1m3 at 0x10a2fdf28>,<function s2m3 at 0x10a308048>,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,3

In [7]:
print("Output A:")
results[0]

Output A:

,mech_step,run,s1,s2,s3,s4,time_step,timestamp
0,0,1,0,0,1,1,0,2018-10-01 15:16:24
1,1,1,1,4,5,10,1,2018-10-01 15:16:25
2,2,1,ab,6,5,10,1,2018-10-01 15:16:25
3,3,1,"[c, d]","[30, 300]",5,10,1,2018-10-01 15:16:25
4,1,1,1,4,5,10.88462238049958452634768946,2,2018-10-01 15:16:26
5,2,1,ab,6,5,10.88462238049958452634768946,2,2018-10-01 15:16:26
6,3,1,"[c, d]","[30, 300]",5,10.88462238049958452634768946,2,2018-10-01 15:16:26
7,1,1,1,4,5,11.84390378915460105928594240,3,2018-10-01 15:16:27
8,2,1,ab,6,5,11.84390378915460105928594240,3,2018-10-01 15:16:27
9,3,1,"[c, d]","[30, 300]",5,11.84390378915460105928594240,3,2018-10-01 15:16:27
10,1,1,1,4,5,13.86870567779818175660086782,4,2018-10-01 15:16:28
11,2,1,ab,6,5,13.86870567779818175660086782,4,2018-10-01 15:16:28
12,3,1,"[c, d]","[30, 300]",5,13.86870567779818175660086782,4,2018-10-01 15:16:28
13,1,1,1,4,5,13.93809586353209725047922068,5,2018-10-01 15:16:29
14,2,1,ab,6,5,13.93809586353209725047922068,5,2018-10-01 15:16:29
15,3,1,"[c, d]","[30, 300]",5,13.93809586353209725047922068,5,2018-10-01 15:16:29
16,0,2,0,0,1,1,0,2018-10-01 15:16:24
17,1,2,1,4,5,10,1,2018-10-01 15:16:25
18,2,2,ab,6,5,10,1,2018-10-01 15:16:25
19,3,2,"[c, d]","[30, 300]",5,10,1,2018-10-01 15:16:25
20,1,2,1,4,5,9.454640052380469672499430089,2,2018-10-01 15:16:26
21,2,2,ab,6,5,9.454640052380469672499430089,2,2018-10-01 15:16:26
22,3,2,"[c, d]","[30, 300]",5,9.454640052380469672499430089,2,2018-10-01 15:16:26
23,1,2,1,4,5,7.992501415579613525253197635,3,2018-10-01 15:16:27
24,2,2,ab,6,5,7.992501415579613525253197635,3,2018-10-01 15:16:27
25,3,2,"[c, d]","[30, 300]",5,7.992501415579613525253197635,3,2018-10-01 15:16:27
26,1,2,1,4,5,8.777658726472379268470333983,4,2018-10-01 15:16:28
27,2,2,ab,6,5,8.777658726472379268470333983,4,2018-10-01 15:16:28
28,3,2,"[c, d]","[30, 300]",5,8.777658726472379268470333983,4,2018-10-01 15:16:28
29,1,2,1,4,5,7.811179137283953044810612028,5,2018-10-01 15:16:29
30,2,2,ab,6,5,7.811179137283953044810612028,5,2018-10-01 15:16:29
31,3,2,"[c, d]","[30, 300]",5,7.811179137283953044810612028,5,2018-10-01 15:16:29

In [8]:
print("Tensor Field B:")
tensor_fields[1]

Tensor Field B:

,b1,b2,s1,s2,es1,es2,es3,m
0,<function b1m1 at 0x10a308488>,<bound method Identity.b_identity of <SimCAD.c...,<function s1m1 at 0x10a308950>,<function Identity.state_identity.<locals>.<la...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,1
1,<function b1m2 at 0x10a308730>,<bound method Identity.b_identity of <SimCAD.c...,<function s1m2 at 0x10a308a60>,<function Identity.state_identity.<locals>.<la...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,2
2,<function b1m3 at 0x10a308840>,<function b2m3 at 0x10a3088c8>,<function s1m3 at 0x10a308b70>,<function s2m3 at 0x10a308bf8>,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,<function curried.<locals>._curried at 0x10a30...,3

In [9]:
print("Output B:")
results[1]

Output B:

,mech_step,run,s1,s2,s3,s4,time_step,timestamp
0,0,1,0,0,1,1,0,2018-10-01 15:16:24
1,1,1,1,0,10,10,1,2018-10-01 15:16:25
2,2,1,a,0,10,10,1,2018-10-01 15:16:25
3,3,1,"[c, d]","[30, 300]",10,10,1,2018-10-01 15:16:25
4,1,1,1,"[30, 300]",9.943733172773669970467835810,10.43650985051199020503531756,2,2018-10-01 15:16:26
5,2,1,a,"[30, 300]",9.943733172773669970467835810,10.43650985051199020503531756,2,2018-10-01 15:16:26
6,3,1,"[c, d]","[30, 300]",9.943733172773669970467835810,10.43650985051199020503531756,2,2018-10-01 15:16:26
7,1,1,1,"[30, 300]",7.819556774768869265284526371,10.53721952812028761860248013,3,2018-10-01 15:16:27
8,2,1,a,"[30, 300]",7.819556774768869265284526371,10.53721952812028761860248013,3,2018-10-01 15:16:27
9,3,1,"[c, d]","[30, 300]",7.819556774768869265284526371,10.53721952812028761860248013,3,2018-10-01 15:16:27
10,1,1,1,"[30, 300]",9.102175846000753312124925331,8.573616357680089499783223212,4,2018-10-01 15:16:28
11,2,1,a,"[30, 300]",9.102175846000753312124925331,8.573616357680089499783223212,4,2018-10-01 15:16:28
12,3,1,"[c, d]","[30, 300]",9.102175846000753312124925331,8.573616357680089499783223212,4,2018-10-01 15:16:28
13,1,1,1,"[30, 300]",7.469759239508861972798095765,8.335794354629596453007093216,5,2018-10-01 15:16:29
14,2,1,a,"[30, 300]",7.469759239508861972798095765,8.335794354629596453007093216,5,2018-10-01 15:16:29
15,3,1,"[c, d]","[30, 300]",7.469759239508861972798095765,8.335794354629596453007093216,5,2018-10-01 15:16:29
16,0,2,0,0,1,1,0,2018-10-01 15:16:24
17,1,2,1,0,10,10,1,2018-10-01 15:16:25
18,2,2,a,0,10,10,1,2018-10-01 15:16:25
19,3,2,"[c, d]","[30, 300]",10,10,1,2018-10-01 15:16:25
20,1,2,1,"[30, 300]",10.50288141715804313136573001,9.917258518517539922498826854,2,2018-10-01 15:16:26
21,2,2,a,"[30, 300]",10.50288141715804313136573001,9.917258518517539922498826854,2,2018-10-01 15:16:26
22,3,2,"[c, d]","[30, 300]",10.50288141715804313136573001,9.917258518517539922498826854,2,2018-10-01 15:16:26
23,1,2,1,"[30, 300]",9.194970106774504549722066426,9.295445738182783098967212172,3,2018-10-01 15:16:27
24,2,2,a,"[30, 300]",9.194970106774504549722066426,9.295445738182783098967212172,3,2018-10-01 15:16:27
25,3,2,"[c, d]","[30, 300]",9.194970106774504549722066426,9.295445738182783098967212172,3,2018-10-01 15:16:27
26,1,2,1,"[30, 300]",8.222186204091007892903999658,9.254714796976556134819588883,4,2018-10-01 15:16:28
27,2,2,a,"[30, 300]",8.222186204091007892903999658,9.254714796976556134819588883,4,2018-10-01 15:16:28
28,3,2,"[c, d]","[30, 300]",8.222186204091007892903999658,9.254714796976556134819588883,4,2018-10-01 15:16:28
29,1,2,1,"[30, 300]",7.474783217004487060973175797,8.813063120281346104256259818,5,2018-10-01 15:16:29
30,2,2,a,"[30, 300]",7.474783217004487060973175797,8.813063120281346104256259818,5,2018-10-01 15:16:29
31,3,2,"[c, d]","[30, 300]",7.474783217004487060973175797,8.813063120281346104256259818,5,2018-10-01 15:16:29